body {
    margin: 0;
}

button {
    margin: 40px 0 0 40px;
    height: 50px;
    width: 100px;
    color: white;   
    border: none;
    border-radius: 5%;
}

.start-button { background-color: rgb(34, 179, 34); }
.stop-button { background-color: rgb(206, 57, 57); }

#bar-container {
    border: 1px blue solid;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 25vh;
    height: 25vh;
}

.bar {
    display: block;
    background-color: #000;
    height: 40px;  
    width: 20px;
    margin: 5px;
    transition-duration: 500ms;
}


.grow {
    /* height: 80px; */
    transform: scaleY(1.5);

}