:root {
	--main-load-color: #000;
}


body {
    margin: 0;
}

button {
    margin: 40px 0 0 40px;
    height: 50px;
    width: 100px;
    color: white;   
    border: none;
    border-radius: 5%;
}

.start-button { background-color: rgb(34, 179, 34); }
.stop-button { background-color: rgb(206, 57, 57); }



.bars {
	border: 1px blue solid;
	display: flex;
	justify-content: center;
	align-items: center; 
	margin: 10vh;
	height: 25vh;
}


@keyframes bars {
  0% { transform: scaleY(1) }
  5% { border-radius: 5px }
  10% { border-radius: 4px }
  15% { border-radius: 3px }
  20% { border-radius: 2px }
	25% { transform: scaleY(6); border-radius: 1px }
	30% { border-radius: 2px }
	35% { border-radius: 3px }
	40% { border-radius: 4px }
	45% { border-radius: 5px }
  50% { transform: scaleY(1); border-radius: 6px }
  75% { transform: scaleY(1) }
  100% { transform: scaleY(1) }
}

.bars div {
  width: 10px;
  height: 10px;
	margin: 5px;
	border-radius: 6px;
}

.loading {
	animation: bars 1.8s cubic-bezier(0.5,0,0.5,1) infinite;
}

.bars div:nth-child(1) {
  /* background: var(--main-load-color); */
  background: #e15b64;
  animation-delay: 0s;
}

.bars div:nth-child(2) {
  /* background: var(--main-load-color); */
  background: #f47e60;
  animation-delay: 0.1s;
}

.bars div:nth-child(3) {
  /* background: var(--main-load-color); */
  background: #f8b26a;
  animation-delay: 0.2s;
}

.bars div:nth-child(4) {
  /* background: var(--main-load-color); */
  background: #abbd81;
  animation-delay: 0.3s;
}

.bars div:nth-child(5) {
  /* background: var(--main-load-color); */
  background: #417de4;
  animation-delay: 0.4s;
}

.bars div:nth-child(6) {
  /* background: var(--main-load-color); */
  background: #9241e4;
  animation-delay: 0.5s;
}


